### Revision

Recursive function is a function that calls itself. eg factorial

In [1]:
def fact(n):
    if n <=1: #base case
        return 1
    return n*fact(n-1) #recursive step

fact(3)

6

### Fibonacci function

In [6]:
def func(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
    return func(n-1)+func(n-2)

IndentationError: expected an indented block after 'else' statement on line 6 (931018989.py, line 7)

In [5]:
func(3)

NameError: name 'func' is not defined

In [ ]:
def func(n):
    if n <= 1:
        return n
    return func(n-1)+func(n-2)

func(3)

In [ ]:
### Lambda function

anonymous ,single expression

x = lambda x,y:x*y
x(9,3)

# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

In [1]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9,10]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [4]:
fruits = ("apples", "banana", "cherry")
print(fruits)
len(fruits)

('apples', 'banana', 'cherry')

3

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [2]:
numbers = [10,20,30,40]
num = tuple([10, 20, 30,40])
print(num)

(10, 20, 30, 40)

In [1]:
list =tuple([10,20,30,40])
print(list)

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [5]:
num = {1, 2, 3, 4, 5}
print(num)

{1, 2, 3, 4, 5}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [15]:
student = {"name":"Alice", "age":20, "grade":"A"}
print(student)
len(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

3

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [17]:
list = [10, 20, 30, 40, 50]
print(list[1])
print(list[-4])

20
20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [18]:
fruits =["apple","banana", "cherry", "orange"]
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [21]:
numbers = {1, 2, 3, 4, 5}
print(numbers)
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [24]:
person = {"name":"John", "age":25, "city":"New York"}
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

In [25]:
num =range(0,10)
print(num)

range(0, 10)

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [4]:
num = 1
for i in range(1, 11):
    num = num*i
print(i)

10

In [36]:
squares = [i**2 for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
squares =[]

for i in range(1,11):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [3]:
even =tuple([i*2 for i in range(1, 6)])
print(even)

(2, 4, 6, 8, 10)

In [2]:
even = tuple(x for x in range (2, 11) if x%2==0)
print(even)

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [51]:
fruits = ["apples", "banana", "cherry"]
for i in fruits:
    print(i)

apples
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [57]:
numbers = {1, 2, 3, 4, 5}
3 in numbers

True

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [53]:
numbers = (10, 20, 30)
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [70]:
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)
scores.extend([105,200,250])
print(scores)

[80, 85, 90, 95, 100]
[80, 85, 90, 95, 100, 105, 200, 250]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [59]:
def func(lst):
    total = 0
    for v in lst:
        total = total + v
    return total


func([12, 23, 1, 4, 5, 9])

54

In [61]:
def sum(list):
    total = 0
    for i in list:
        total = total + i
    return total

sum([78,83,562,92])

815

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [71]:
numbers = [1, 2, 2, 3, 4, 4, 5]
set(numbers)

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [1]:
x = "hello"
char = list(x)
print(char)

['h', 'e', 'l', 'l', 'o']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [1]:
t =(1, 2, 3, 4)
x = tuple(reversed(t))
print(x)

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [6]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict = dict1|dict2
print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [8]:
square_dict = {}
for i in range(1,6):
    square_dict[i]=i*i
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [11]:
my_dict = {1:1, 2:4, 3:9, 4:16, 5:25}
for key, value in my_dict.items():
    print(f"key: {key}, value: {value}")

key: 1, value: 1
key: 2, value: 4
key: 3, value: 9
key: 4, value: 16
key: 5, value: 25

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [8]:
a = []
for i in range(ord("a"), ord("e") + 1):
    a.append(chr(i))
print(a)

['a', 'b', 'c', 'd', 'e']

In [5]:
a = [chr(i) for i in range(97,102)]
print(a)

['a', 'b', 'c', 'd', 'e']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [11]:
list_1 =[1, 2, 3]
list_2 =["a", "b", "c"]
combined = list(zip(list_1,list_2))
print(combined)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [18]:
a =[10, 20, 30, 40, 50]
a.index(50)

4

In [21]:
a = [10, 20, 30, 40,50]
a[::-1]

[50, 40, 30, 20, 10]

In [5]:
a = [10, 20, 30, 40, 50]
my_list = list(reversed(a))
print(my_list)

[50, 40, 30, 20, 10]

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [11]:
names =["Alice", "Bob", "Charlie", "Loyde","David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David', 'Loyde']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [12]:
def func(list):
    return max(list)
num =[7458,823023,768]
largest =func(num)
print(largest)

823023

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [20]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [21]:
person ={"name":"Alice", "age":25, "city":"New York"}
person["height"] = 45
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'height': 45}

In [26]:
name= person["city"]
print(name)

New York

### Exercise 31:
Write a Python script that takes a list as input and returns a new list with all duplicates removed.

In [31]:
num = [10,20,30,30,40,10,50,70]
list(set(num))

[70, 40, 10, 50, 20, 30]

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

In [33]:
A = [40,50,60,70]
B = [10,20,30,40]
list(set(A) & set(B))

[40]

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [28]:
squares =[]
for i in range(1,11):
    squares.append(i*i)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]